In [ ]:
'''
for문
- 이터러블 (순회 가능한) 요소를 하나씩 꺼내서 실행 블록에 전달하는 반복문
'''

In [ ]:
# 리스트 반복
fruits = ["Apple", "Banana", "Cherry"]
for fruit in fruits:
    print(f"I LOVE {fruit}")

I LOVE Apple
I LOVE Banana
I LOVE Cherry

In [2]:
# 문자열 반복
my_str = "Apple"
for char in my_str:
    print(char)

A
p
p
l
e

In [3]:
# 튜플 반복
coords = [(1, 2), (10, 15), (-6, 8)]
# 언패킬 (구조분해 가능)
for x, y in coords:
    print(f"X좌표: {x}, Y좌표{y}")

X좌표: 1, Y좌표2
X좌표: 10, Y좌표15
X좌표: -6, Y좌표8

In [ ]:
# 딕셔너리 반복
person = {"name" : "Won", "age" : 38, "address" : "Seoul"}
for key in person:
    print(f"key: {key}, value: {person[key]}")

# value만 가져오기
for value in person.values():
    print(f"value: {value}")

# items 가져오기
for key, value in person.items():
     print(f"key: {key}, value: {value}")

key: name, value: Won
key: age, value: 38
key: address, value: Seoul
value: Won
value: 38
value: Seoul
key: name, value: Won
key: age, value: 38
key: address, value: Seoul

In [6]:
# set 반복
my_set = {1, 2, 3, 4}
for s in my_set:
    print(s)

1
2
3
4

In [59]:
# 실습1. for문 기본 문법 문제

# 문제1. 리스트의 값을 두배로 변환하기
numbers = [3, 6, 1, 8, 4]
my_numbers = []
for num in numbers:
    my_numbers.append(num *2)
print(my_numbers)

[6, 12, 2, 16, 8]

In [60]:
# 문제1. 리스트의 값을 두배로 변환하기
numbers = [3, 6, 1, 8, 4]
doubled = []
for number in numbers:
    doubled.append(number * 2)
print(doubled)

[6, 12, 2, 16, 8]

In [37]:
# 문제2. 문자열의 길이 구해서 새 리스트 만들기
words = ["Apple", "Banana", "Kiwi", "Grape"]
lengths = []
for word in words:
    lengths.append(len(word))
print(lengths)

[5, 6, 4, 5]

In [58]:
# 문제3. 좌표 튜플에서 X, Y 좌표 나누기
coordinates = [(1, 2), (3, 4), (5, 6), (7, 8)]
x_values = []
for x, y in coordinates:
    x_values.append(x)
print(x_values)

y_values = []
for x, y in coordinates:
    y_values.append(y)
print(y_values)

[1, 3, 5, 7]
[2, 4, 6, 8]

In [63]:
# for문과 range()
# range 함수: 지정된 범위의 정수 시퀀스 생성
# 기본문법
# range(start, end, step)
# - start: 생략 가능. 기본값:0
# - end: end - 1 까지 생성
# - step: 생략 가능. 기본값:1

range(1,5)

for i in range(1,5):
    print(i)

for i in [1, 2, 3, 4]:
    print(i)

# start 생략
for i in range(5):
    print(i)

1
2
3
4
1
2
3
4
0
1
2
3
4

In [65]:
# 간격 (step) 지정
for i in range(0, 11, 2):
    print(i)

for i in range(11, 0, -2):
    print(i)

0
2
4
6
8
10
11
9
7
5
3
1

In [89]:
# 실습2. for문과 range

# 문제1. 입력 받은 수의 합 구하기
number = int(input("숫자를 입력해주세요."))
target = 0
for i in range(1, number + 1):
    target += i
print(target)

55

In [84]:
# 문제2.  구구단 만들기
number = int(input("숫자를 입력해주세요."))
for i in range(1,10):
    print(f"{number} × {i} = {number * i}")

3 × 1 = 3
3 × 2 = 6
3 × 3 = 9
3 × 4 = 12
3 × 5 = 15
3 × 6 = 18
3 × 7 = 21
3 × 8 = 24
3 × 9 = 27

In [90]:
# 문제3. 3의 배수의 합 구하기
number = 0
for i in range(0,101,3):
    number += i
print(number)

1683

In [99]:
# 문제3. 3의 배수의 합 구하기
number = 0
for i in range(1,101):
    if i % 3 == 0:
        number += i
print("3의 배수의 합:", number)

3의 배수의 합: 1683

In [97]:
# 문제4. 짝수 이면서 5의 배수인 수 출력하기
number = int(input("숫자를 입력해주세요."))
for i in range(1, number + 1):
    if i % 2 == 0 and i % 5 == 0:
        print(i)

10
20
30
40
50
60
70
80
90
100

In [100]:
# 루프 제어문
# - 특정 조건 하에서만 작동하도록 구현
# break: 반복을 즉시 중단
for i in range(10):
    if i == 5:
        break
    print(i)
    
print("반복종료")

0
1
2
3
4
반복종료

In [101]:
# continue : 현재 반복을 넘어감
for i in range(5):
    if i == 2:
        print("continue = 건너뜀")
        continue
    print(i)

print("반복종료")

0
1
continue = 건너뜀
3
4
반복종료

In [102]:
# pass
for i in range(10):
    pass

In [105]:
# for else 구문
for i in range(5):
    if i == 2:
        break
    print(i)
else:
    print("반복 종료")

0
1

In [106]:
# 중첩 for문
# - 하나의 for문 안에 다른 for문이 들어있는 구조

# 이중 for문
for i in range(5):
    for j in range(5):
        print("i, j", i, j)
    print()

i, j 0 0
i, j 0 1
i, j 0 2
i, j 0 3
i, j 0 4

i, j 1 0
i, j 1 1
i, j 1 2
i, j 1 3
i, j 1 4

i, j 2 0
i, j 2 1
i, j 2 2
i, j 2 3
i, j 2 4

i, j 3 0
i, j 3 1
i, j 3 2
i, j 3 3
i, j 3 4

i, j 4 0
i, j 4 1
i, j 4 2
i, j 4 3
i, j 4 4

In [ ]:
# 실습3. 중첩 for 문 연습문제

# 문제1. 구구단 만들기

for i in range(2,10):
    print(f"[ {i}단 ]")
    for j in range(1,10):
        print(f"{i} × {j} = {i * j}", end= "\n")
    print()

[ 2단 ]
2 × 1 = 2
2 × 2 = 4
2 × 3 = 6
2 × 4 = 8
2 × 5 = 10
2 × 6 = 12
2 × 7 = 14
2 × 8 = 16
2 × 9 = 18

[ 3단 ]
3 × 1 = 3
3 × 2 = 6
3 × 3 = 9
3 × 4 = 12
3 × 5 = 15
3 × 6 = 18
3 × 7 = 21
3 × 8 = 24
3 × 9 = 27

[ 4단 ]
4 × 1 = 4
4 × 2 = 8
4 × 3 = 12
4 × 4 = 16
4 × 5 = 20
4 × 6 = 24
4 × 7 = 28
4 × 8 = 32
4 × 9 = 36

[ 5단 ]
5 × 1 = 5
5 × 2 = 10
5 × 3 = 15
5 × 4 = 20
5 × 5 = 25
5 × 6 = 30
5 × 7 = 35
5 × 8 = 40
5 × 9 = 45

[ 6단 ]
6 × 1 = 6
6 × 2 = 12
6 × 3 = 18
6 × 4 = 24
6 × 5 = 30
6 × 6 = 36
6 × 7 = 42
6 × 8 = 48
6 × 9 = 54

[ 7단 ]
7 × 1 = 7
7 × 2 = 14
7 × 3 = 21
7 × 4 = 28
7 × 5 = 35
7 × 6 = 42
7 × 7 = 49
7 × 8 = 56
7 × 9 = 63

[ 8단 ]
8 × 1 = 8
8 × 2 = 16
8 × 3 = 24
8 × 4 = 32
8 × 5 = 40
8 × 6 = 48
8 × 7 = 56
8 × 8 = 64
8 × 9 = 72

[ 9단 ]
9 × 1 = 9
9 × 2 = 18
9 × 3 = 27
9 × 4 = 36
9 × 5 = 45
9 × 6 = 54
9 × 7 = 63
9 × 8 = 72
9 × 9 = 81

In [121]:
# 문제2. 중첩 for문 별찍기
star = "*"
number = int(input("정수를 입력해주세요."))
for i in range(1,number + 1):
        print(i * star)

*
**
***
****
*****
******
*******
********
*********
**********

In [125]:
number = int(input("정수를 입력해주세요."))
for i in range(1, number + 1):
    for j in range(i):
        print("*", end = "")
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [127]:
number = int(input("정수를 입력해주세요."))
for i in range(1, number + 1):
    for j in range(number - i):
        print(" ", end = "")
    for j in range(i):
        print("*", end="")
    print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [1]:
number = int(input("정수를 입력해주세요."))
for i in range(1, number + 1):
    for j in range(number - i):
        print(" ", end = "")
    for j in range(2 * i - 1):
        print("*", end = "")
    print()

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [3]:
# 리스트 컴프리헨션
# - for 문을 리스트에 한줄로 축약하여 새 리스트를 생성하는 문법
# - [표현식(리스트의 원소) for 변수 in 반복대상 if 조건]
# - 표현식: 값을 유도하는 식 (표현)

# for문 이용
squares = []
for x in range(1,6):
    squares.append(x ** 2)
print(squares)

# 리스트 컴프리헨션
squares2 = [x ** 2 for x in range(1,6)]
print(squares2)

# 조건문 추가하기
squares3 = [x ** 2 for x in range(1,11) if x % 2 == 0]
print(squares3)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]
[4, 16, 36, 64, 100]

In [ ]:
# 실습4. 리스트 컴프리헨션 연습 문제

# 문제1. 제곱값 리스트 만들기
my_numbers = [x **2 for x in range(1,11)]
print(my_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
# 문제2. 3의 배수만 리스트로 만들기
my_numbers = [x for x in range(1,51) if x % 3 == 0]
print(my_numbers)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [11]:
# 문제3. 문자열 리스트에서 길이가 5이상인 단어만 뽑기
fruits = ["Apple", "Fig", "Banana", "Plum", "Cherry", "Pear", "Orange"]
my_fruits = [fruit for fruit in fruits if len(fruit) >= 5 ]
print(my_fruits)

['Apple', 'Banana', 'Cherry', 'Orange']

In [ ]:
'''
for문 문제 복습
'''

In [4]:
# 문제1. 리스트의 값을 두배로 변환하기
doubled = []
numbers = [3, 6, 1, 8, 4]
for number in numbers:
    doubled.append(number * 2)
print(doubled)

[6, 12, 2, 16, 8]

In [5]:
# 문제2. 문자열의 길이 구해서 새 리스트 만들기
lengths = []
words = ["Apple", "Banana", "Kiwi", "Grape"]
for word in words:
    lengths.append(len(word))
print(lengths)

[5, 6, 4, 5]

In [9]:
# 문제3. 좌표 튜플에서 x, y 좌표 나누기
coordinates = [(1, 2), (3, 4), (5, 6), (7, 8)]
x_values = []
for x, y in coordinates:
    x_values.append(x)
print(f"X좌표: {x_values}")

y_values = []
for x, y in coordinates:
    y_values.append(y)
print(f"Y좌표: {y_values}")

X좌표: [1, 3, 5, 7]
Y좌표: [2, 4, 6, 8]

In [11]:
# 문제4. 입력받은 수의 합 구하기
number = int(input("정수를 입력해주세요."))
my_sum = 0
for i in range(1, number + 1):
    my_sum += i
print(my_sum)

55

In [17]:
# 문제5. 구구단 만들기 (1)
number = int(input("정수를 입력해주세요."))
for i in range(1,10):
    print(f"{number} × {i} = {number * i}")

9 × 1 = 9
9 × 2 = 18
9 × 3 = 27
9 × 4 = 36
9 × 5 = 45
9 × 6 = 54
9 × 7 = 63
9 × 8 = 72
9 × 9 = 81

In [16]:
# 문제6. 3의 배수의 합 구하기
number = 0
for i in range(3,101,3):
    number += i
print(number)

1683

In [2]:
# 문제7. 짝수이면서 5의 배수인 수 구하기
numbers = int(input("정수를 입력해주세요.:"))
results = []
for i in range(1,numbers + 1):
    if i % 2 == 0 and i % 5 == 0:
        results.append(i)
print(results)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]